@model Vidly.ViewModels.IndexCustomerViewModel

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<body>
    <main class="container">
        <section id="balance">
            <h2 class="sr-only">Balance</h2>
            <div class="card">
                <h3>
                    <span>
                        Incomes
                    </span>
                    <img src="~/assets/income.svg" alt="Image de entradas">
                </h3>
                <p id="incomeDisplay">R$ 0,00</p>
            </div>

            <div class="card">
                <h3>
                    <span>
                        Outcomes
                    </span>
                    <img src="~/assets/expense.svg" alt="Image de saídas">
                </h3>
                <p id="expenseDisplay">R$ 0,00</p>
            </div>

            <div class="card total">
                <h3>
                    <span>
                        Amount
                    </span>
                    <img src="~/assets/total.svg" alt="Image de total">
                </h3>
                <p id="totalDisplay">0,00 $</p>
            </div>

        </section>

        <section id="transaction">
            <h2 class="sr-only">Locations</h2>

            <a href="#"
               onclick="Modal.open()"
               class="button new">+ New location</a>

            <table id="data-table">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Movie</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var className = Model.Customers.Count > 5 ? "popular" : null;
                    }

                    @if (Model.Customers.Count == 0)
                    {
                        <tr>There are no customers registered yet.</tr>
                    }
                    else
                    {
                        @foreach (var customer in Model.Customers)
                        {
                            <tr>
                                <td>@Model.Customer.Name</td>
                                <td>@customer.Name</td>                         
                            </tr>                        
                        }
                    }

                </tbody>
            </table>
        </section>
    </main>

    <div class="modal-overlay">
        <div class="modal">
            <div id="form">
                <h2>New location</h2>
                <form action="" onsubmit="Form.submit(event)">
                    <div class="input-group">
                        <label class="sr-only"
                               for="description">
                            Description
                        </label>
                        <input type="text"
                               id="description"
                               name="description"
                               placeholder="Description" />
                    </div>

                    <div class="input-group">
                        <label class="sr-only"
                               for="amount">Value</label>
                        <input type="number"
                               step="0.01"
                               id="amount"
                               name="amount"
                               placeholder="0,00" />
                        <small class="help">Use the signal - (negative) for expenses and , (comma) for decimal digits</small>
                    </div>

                    <div class="input-group">
                        <label class="sr-only"
                               for="date">Data</label>
                        <input type="date"
                               id="date"
                               name="date" />
                    </div>

                    <div class="input-group actions">
                        <a onclick="Modal.close()"
                           href="#"
                           class="button cancel">Cancel</a>
                        <button>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

