<div class="page-selection">
    <a class="hover-underline-animation" asp-area="" asp-controller="Home" asp-action="Index">Vidly</a>        
    <a class="hover-underline-animation" asp-area="" asp-controller="Movie" asp-action="Index">Movies</a>
    <a class="hover-underline-animation" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
</div>